.DS_Store
.venv/
**/__pycache__/
*.pyc
*.pyo
*.log
*.log.gz
/logs/
.wrangler/
/.pytest_cache/
/.ruff_cache/
.cache/
node_modules/

# Turborepo
.turbo/

# Build outputs
dist/
dist-standalone/
**/out/
**/.next/
**/.contentlayer/
*.tsbuildinfo
